.Challenges{
  .goal{
    width: 40%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    h1{
      height: 50px;
      color: #333333;
      background: #f5f5f5;
      text-align: center;
    }
    ol{

      li{
        font-size: 20px;
      }
    }
  }
}
