.Challenges{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .goal{
    display: block;
    height: 200px;
    max-width: 640px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    h1{
      color: white;
      background: #1FCE6D;
      text-align: center;
      margin:0;
      padding:14px 0;
    }
    ol{
      padding: 16px 16px 16px 48px;
      margin: 0;
      li{
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
  .users{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .challengers{
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      img{
        border: 2px solid #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width: 202px;
        height:202px;
        border-radius: 50%;
      }
      .info{
        margin-top: -85px;
        margin-left: 2px;
        line-height: 1.5;
        font-size: 16px;
        width: 199px;
        height: 300px;
        padding-top: 100px;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    }
  }
}
