.LeaderboardCategory{
  h3{
    background-color: #f2f2f2;
    text-align: center;
    margin:0;
    padding: 14px 0;

  }
  .streak{
    // border-bottom: 3px solid #2ecc71;
    background: #2ecc71;
    color: white;
  }
  .commits{
    // border-bottom: 3px solid #3498db;
    background: #3498db;
    color: white;
  }
  .contributions{
    // border-bottom: 3px solid #9b59b6;
    background: #9b59b6;
    color: white;
  }
  ul{
    background-color: #fff;
    border: 1px solid #EAEAEA;
    margin:0;
    padding:0;
    li{
      list-style: none;
      color: #828282;
      border-bottom: 1px solid #d11c6f;
      border-right: none;
      border-left: none;
      padding: 10px;
    }
  }
}
