@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

.nopadding {
 padding-left: 0;
 padding-right: 0;
 margin-right: 0;
 margin-left: 0;
}

$font: 'Press Start 2P', cursive;

.segment{
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

body{
  font-family: 'Gotham';
}
.Landing{
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #EFB61F;
  h1{
    font-size: 11em;
    color: #fff;
    font-family: 'Gotham';
    font-weight: 800;
    letter-spacing: -2px;
    // text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  a {
    margin-top: 5vh;
    box-shadow: 0 3px 4px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
    color: #fff;
    background-color: #9238e1;
    height: 90px;
    padding-top: 15px;
    width: 350px;
    font-size: 40px;
    border-radius: 0;
    &:hover{
      color: #fff;
      background-color: darken(#9238e1, 20%);
    }
  }
}
